<nav id="nav">
    <ul>
        <li {% if page.url == "/" %}class="current_page_item"{% endif %}><a href="{{site.baseurl}}/index.html">Accueil</a></li>
        <li {% if page.url == "/seances.html" %}class="current_page_item"{% endif %}><a href="{{site.baseurl}}/seances.html">Séances</a></li>
        <li {% if page.url == "/lexique.html" %}class="current_page_item"{% endif %}><a href="{{site.baseurl}}/lexique.html">Lexique</a></li>
        <li {% if page.url == "/entrainement.html" %}class="current_page_item"{% endif %}><a href="{{site.baseurl}}/entrainement.html">Entraînement</a></li>
    </ul>
</nav>